{% extends 'administration/base/base.html' %}
{% load static %}
{% block content %}
<div class="card">
  <div class="card-header">Exammaster Register Form</div>
  <div class="card-body">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
     {{ form.as_p }}
    <button type="submit" class="btn btn-success">Upload</button>
  </form>
</div>
</div>
<div class="card">
  <div class="card-header">
      <i class="fa fa-align-justify"></i>Exammaster List</div>
  <div class="card-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">course</th>
        <th scope="col">class_name</th>
        <th scope="col">image</th>
        <th scope="col">duration</th>
        <th scope="col">price</th>
        <th scope="col">is_paid</th>
        <th scope="col">is_active</th>
        <th scope="col">videolink</th>
        <th scope="col">User</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody id="tbody">
      {% for st in st %}
      <tr>
          <td>{{st.id}}</td>
          <td>{{st.course}}</td>
          <td>{{st.class_name}}</td>
          <td>{{st.image}}</td>
          <td>{{st.duration}}</td>
          <td>{{st.price}}</td>
          <td>{{st.is_paid}}</td>
          <td>{{st.is_active}}</td>
          <td>{{st.videolink}}</td>
          <td>{{st.user}}</td>
          <td>
              <input type="button" value="Delete" onliClick="deletesu()" class="btn btn-danger btn-sm btn-del" data-sid="{{st.id}}">
          </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
<script src="{% static 'core/js/jquery.js' %}"></script>
  <script src="{% static 'core/js/popper.js' %}"></script>
{% include 'administration/videoclass/ajax.html' %}   
{%endblock%}